/* ----- Molhim ----- */
@font-face{
font-family: 'Molhim';
font-weight: normal;
src: url('Molhim-normal.woff2');
}
@font-face{
font-family: 'Molhim';
font-weight: bold;
src: url('Molhim-bold.woff2');
}

/* ----- UthmanTN ----- */
@font-face{
font-family: 'UthmanTN';
font-weight: normal;
src: url('UthmanTN-normal.woff2');
}
@font-face{
font-family: 'UthmanTN';
font-weight: bold;
src: url('UthmanTN-bold.woff2');
}

/* ----- KFGQPC-Kufi ----- */
@font-face{
font-family: 'KFGQPC-Kufi';
font-weight: normal;
src: url('KFGQPC-Kufi.woff2');
}
@font-face{
font-family: 'KFGQPC-Kufi';
font-weight: bold;
src: url('KFGQPC-Kufi.woff2');
}

/* ----- KSA ----- */
@font-face{
font-family: 'KSA';
font-weight: normal;
src: url('KSA-normal.woff2');
}
@font-face{
font-family: 'KSA';
font-weight: bold;
src: url('KSA-bold.woff2');
}
@font-face{
font-family: 'KSA';
font-weight: 800;
src: url('KSA-extra_bold.woff2');
}
@font-face{
font-family: 'KSA';
font-weight: 900;
src: url('KSA-heavy.woff2');
}

/* ----- UthmanicHafs ----- */
@font-face{
font-family: 'UthmanicHafs';
font-weight: normal;
src: url('UthmanicHafs-normal.woff2');
}
@font-face{
font-family: 'UthmanicHafs';
font-weight: bold;
src: url('UthmanicHafs-bold.woff2');
}

/* ----- Arial ----- */
@font-face{
font-family: 'Arial';
font-weight: normal;
src: url('Arial-normal.woff2');
}
@font-face{
font-family: 'Arial';
font-weight: bold;
src: url('Arial-bold.woff2');
}

/* ----- Science-Icons ----- */
@font-face{
font-family: 'Science-Icons';
font-weight: normal;
src: url('Science-Icons.woff2');
}
@font-face{
font-family: 'Science-Icons';
font-weight: bold;
src: url('Science-Icons.woff2');
}

/* ----- AH-Manal ----- */
@font-face{
font-family: 'AH-Manal';
font-weight: 200;
src: url('AH-Manal-light.woff2');
}
@font-face{
font-family: 'AH-Manal';
font-weight: normal;
src: url('AH-Manal-normal.woff2');
}
@font-face{
font-family: 'AH-Manal';
font-weight: bold;
src: url('AH-Manal-bold.woff2');
}
@font-face{
font-family: 'AH-Manal';
font-weight: 800;
src: url('AH-Manal-extra_bold.woff2');
}
@font-face{
font-family: 'AH-Manal';
font-weight: 900;
src: url('AH-Manal-heavy.woff2');
}

/* ----- A-Massir ----- */
@font-face{
font-family: 'A-Massir';
font-weight: normal;
src: url('A-Massir-normal.woff2');
}
@font-face{
font-family: 'A-Massir';
font-weight: bold;
src: url('A-Massir-bold.woff2');
}

/* ----- Barada-Reqa ----- */
@font-face{
font-family: 'Barada-Reqa';
font-weight: normal;
src: url('Barada-Reqa.woff2');
}
@font-face{
font-family: 'Barada-Reqa';
font-weight: bold;
src: url('Barada-Reqa.woff2');
}

/* ----- HelveticaWorld ----- */
@font-face{
font-family: 'HelveticaWorld';
font-weight: normal;
src: url('HelveticaWorld-normal.woff2');
}
@font-face{
font-family: 'HelveticaWorld';
font-weight: bold;
src: url('HelveticaWorld-bold.woff2');
}

/* ----- ArabicUIDisplay ----- */
@font-face{
font-family: 'ArabicUIDisplay';
font-weight: 100;
src: url('ArabicUIDisplay-thin.woff2');
}
@font-face{
font-family: 'ArabicUIDisplay';
font-weight: 200;
src: url('ArabicUIDisplay-light.woff2');
}
@font-face{
font-family: 'ArabicUIDisplay';
font-weight: normal;
src: url('ArabicUIDisplay-normal.woff2');
}
@font-face{
font-family: 'ArabicUIDisplay';
font-weight: 500;
src: url('ArabicUIDisplay-semi_bold.woff2');
}
@font-face{
font-family: 'ArabicUIDisplay';
font-weight: bold;
src: url('ArabicUIDisplay-bold.woff2');
}
@font-face{
font-family: 'ArabicUIDisplay';
font-weight: 900;
src: url('ArabicUIDisplay-heavy.woff2');
}

/* ----- Almodrajat ----- */
@font-face{
font-family: 'Almodrajat';
font-weight: normal;
src: url('Almodrajat.woff2');
}
@font-face{
font-family: 'Almodrajat';
font-weight: bold;
src: url('Almodrajat.woff2');
}

/* ----- Kitab ----- */
@font-face{
font-family: 'Kitab';
font-weight:normal ;
src: url('Kitab-normal.woff2');
}
@font-face{
font-family: 'Kitab';
font-weight: bold;
src: url('Kitab-bold.woff2');
}